h1= station
p= updated
table
  - each departure in northbound
    tr
      td
        = departure.time
      td
        = departure.destination
  - each departure in southbound
    tr
      td
        = departure.time
      td
        = departure.destination
