!!!
html
  head
    meta(content="true", name="HandheldFriendly")
    meta(content="width=device-width, height=device-height, user-scalable=no", name="viewport")
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery-1.6.min.js')
    script(src='/main.js')
  body!= body