div
  span#id= id
  span#title= title
  span#updated updated
  #expired ?
table#departures
  tr
    td#time time
    td#destination destination
script
    var exports = {};
    $(document).ready(function() {
        $.getScript("/countdown.js", function() {
            $.getScript("/station.js", function() {
                exports.init($, $('#id').text(), 256);
            })
        })
    });