#title= title
#updated updated
table#departures
  tr
    td#time time
    td#destination destination
#id= id
script
  var exports = {};
  $(document).ready(function() {
      $.getScript("/station.js", function() {
          exports.init($, $('#id').text());
      })
  });