div
  span#id= id
  span#title= title
  span#updated updated
  #expired ?
  button.north(type="button") ↑
  button.south(type="button") ↓
  button.northsouth(type="button") ⇅
table#departures
  tr
    td#time time
    td#destination destination
script
    $(document).ready(main);