div
  span#predecessor= id-1
  span#title= title
  span#successor= id-(-1)
div
  span#id= id
  span#updated updated
  #expired ?
  button.north(type="button") ↑
  button.south(type="button") ↓
  button.northsouth(type="button") ⇅
  span#direction northsouth
  button.clear(type="clear") ⎚
table#departures
  tr
    td#time time
    td#destination destination
script
  require.setModuleRoot("http://localhost:3000/modules");
  require.run("main");
