div#stretch
  canvas#webgl(width=2048,height=1152)
script
  require.setModuleRoot(window.location.protocol + '//' + window.location.host + '/modules');
  require.setExpires(0);
  require.run("main");
