body {
    color: #dcdccc;
    background: #3f3f3f;
}

a {
    color: #93B3A3;
    text-decoration: none;
}

#title {
    font-size: 24pt;
}

#id {
    color: gray;
    font-style: italic;
    font-size: small;
}

table {
    width: 100%;
    font-size: x-large;
}

tr.delayed {
    color: #80D4AA;
    background: #2F2F2F;
}

td.countdown {
    text-align: right;
}