#stretch {
    height: 100%;
    width: 100%;
}

body {
    color: #dcdccc;
    background: #3f3f3f;
}

body.pending {
    background: #284F28;
}

a {
    color: #93B3A3;
    text-decoration: none;
    font-size: xx-large;
}

#title, #predecessor, #successor {
    font-size: 24pt;
}

#predecessor, #successor {
    color: #7F9F7F;
    font-style: italic;
}

#id {
    color: gray;
    font-style: italic;
    font-size: small;
}

table {
    width: 45%;
    min-width: 250px;
    font-size: large;
}

table#northbound {
    float: left;
}

table#southbound {
    float: right;
}

td.countdown {
    text-align: right;
}