#title {
    font-size: 24pt;
}

#id {
    color: gray;
    font-style: italic;
    font-size: small;
}

table {
    width: 100%;
    font-size: x-large;
}

tr {
    background: #adff2f;
}

tr.delayed {
    background: #f08080;
}

td.countdown {
    text-align: right;
}